<div *ngIf="loadProblem">
  <h2 class="card-title" style="text-align:center;font-size:2rem;padding-top:10rem;">
    Something went wrong loading data from the database!
  </h2>
  <h4 class="card-title" style="text-align:center;">Redirecting in {{sec}} seconds!</h4>
</div>
<div class="row" *ngIf="!loadProblem">
  <div class="card col-6" style="padding: 0;height: fit-content;">
    <img src="{{car.imagePath}}" class="card-img-top" style="padding-bottom: 1rem;" alt="">
    <button (click)="onDelete()" class="btn btn-danger" style="margin-bottom: 1rem;">Delete Car</button>
  </div>
  <div class="col-6">
    <form (submit)="onModify(modifyForm)" #modifyForm="ngForm">
      <div class="form-group">
        <label for="brand">Brand</label>
        <input type="text" name="brand" class="form-control" id="brand" [(ngModel)]="car.brand" placeholder="Brand"
          required>
      </div>
      <div class="form-group">
        <label for="model">Model</label>
        <input type="text" name="model" class="form-control" id="model" [(ngModel)]="car.model" placeholder="Model"
          maxlength="50" required>
      </div>
      <div class="form-group">
        <label for="color">Color</label>
        <select id="color" class="form-control custom-select custom-select-sm mb-2" name="color"
          [(ngModel)]="car.colour">
          <option [selected]="true" value="">Select Color</option>
          <option *ngFor="let color of colors" value="{{color.key}}">{{color.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="licensePlate">License Plate</label>
        <input type="text" name="licensePlate" class="form-control" [(ngModel)]="car.licensePlate" id="licensePlate"
          placeholder="License Plate" max="10" required>
      </div>
      <div class="form-group">
        <label for="engineDescription">Engine Description</label>
        <input type="text" name="engineDescription" class="form-control" [(ngModel)]="car.engineDescription"
          id="Engine Description" placeholder="Engine Description" maxlength="300" required>
      </div>
      <div class="form-group">
        <label for="mileage">Mileage</label>
        <input type="number" name="mileage" class="form-control" id="mileage" [(ngModel)]="car.mileage"
          placeholder="mileage" required email>
      </div>
      <div class="form-group">
        <label for="premises">Premises (left empty means no change)</label>
        <select id="premises" class="form-control custom-select custom-select-sm mb-2" name="premises">
          <option [selected]="true" value="">Select Premise</option>
          <option *ngFor="let premise of premises" value="{{premise.id}}">{{premise.name}}, {{premise.address}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>