<nav class="navbar navbar-expand-lg" [ngClass]="{'navbar-dark bg-dark': darkMode, 'navbar-light bg-light': !darkMode}">
    <a class="navbar-brand" routerLink="/">Car Rent</a>
    <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed"
        aria-label="Toggle navigation" (click)="collapsed = !collapsed">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
        <ul ngbNav #nav="ngbNav" class="navbar-nav mr-auto">
            <li [ngbNavItem]="1" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <a ngbNavLink class="nav-link" routerLink="/">Home</a>
            </li>
            <li [ngbNavItem]="2" class="nav-item" routerLinkActive="active">
                <a ngbNavLink class="nav-link" routerLink="/cars">Cars</a>
            </li>
            <li [ngbNavItem]="3" class="nav-item" routerLinkActive="active" *ngIf="!isLoggedin">
                <a ngbNavLink class="nav-link" routerLink="/register">Registration</a>
            </li>
            <li [ngbNavItem]="3" class="nav-item" routerLinkActive="active" *ngIf="isLoggedin && !isAdmin">
                <a ngbNavLink class="nav-link" routerLink="/rented">Rented Car</a>
            </li>
            <li [ngbNavItem]="3" class="nav-item" routerLinkActive="active" *ngIf="isAdmin">
                <a ngbNavLink class="nav-link" routerLink="/admin">Admin</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-right">
            <li class="nav-item" *ngIf="!isLoggedin">
                <a class="nav-link" routerLink="/auth">Login</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedin">
                <a class="nav-link" (click)="onLogout()">Logout</a>
            </li>
            <li class="nav-item">
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" (change)="onChange($event)">
                    <label class="onoffswitch-label" for="myonoffswitch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </li>
        </ul>
    </div>
</nav>
<hr [ngClass]="{'hrDark': darkMode}"/>