.pad-left {
  padding-left: 1rem;
}

.pad-bottom {
  padding-bottom: 2.5rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fill {
  height: 10rem;
  width: 10rem;
}