<div class="row pad-bottom">
  <div class="card col-sm-5" style="padding:0;">
    <img src="../../assets/golf_mk_viii_m.jpg" class="card-img-top card-img-bottom" alt="{{ car.brand + ' ' + car.model }}">
  </div>
  <div class="pad-left">
    <p>Brand: {{car.brand}}</p>
    <p>Model: {{car.model}}</p>
    <p>Color: {{car.colourName}}</p>
    <p>License Plate: {{car.licensePlate}}</p>
    <p>Engine: {{car.engineDescription}}</p>
    <p>Mileage (l/100km): {{car.mileage}}</p>
    <p>Premise: {{car.premiseName}}</p>
    <p>Rented: {{car.rented}}</p>
  </div>
</div>