<div class="row">
  <div class="col-6">
    <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="!valid">A required filed is empty!</ngb-alert>
    <p>All fileds are required to be filled</p>
    <form (submit)="onAdd(addForm)" #addForm="ngForm">
      <div class="form-group">
        <label for="brand">Brand</label>
        <input type="text" name="brand" class="form-control" id="brand" ngModel #brandInput="ngModel"
          placeholder="Brand" required>
      </div>
      <div class="form-group">
        <label for="model">Model</label>
        <input type="text" name="model" class="form-control" id="model" ngModel #modelInput="ngModel"
          placeholder="Model" maxlength="50" required>
      </div>
      <div class="form-group">
        <label for="color">Color</label>
        <select id="color" class="form-control custom-select custom-select-sm mb-2" name="colour" ngModel
          #colourInput="ngModel">
          <option [selected]="true" value="">Select Color</option>
          <option *ngFor="let color of colors" value="{{color.key}}">{{color.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="licensePlate">License Plate</label>
        <input type="text" name="licensePlate" class="form-control" ngModel #licensePlateInput="ngModel"
          id="licensePlate" placeholder="License Plate" max="10" required>
      </div>
      <div class="form-group">
        <label for="engineDescription">Engine Description</label>
        <input type="text" name="engineDescription" class="form-control" ngModel #engineDescriptionInput="ngModel"
          id="Engine Description" placeholder="Engine Description" maxlength="300" required>
      </div>
      <div class="form-group">
        <label for="mileage">Mileage</label>
        <input type="number" name="mileage" class="form-control" id="mileage" ngModel #engineDescriptionInput="ngModel"
          placeholder="mileage" required autocomplete="off">
      </div>
      <div class="form-group">
        <label for="premiseId">Premises</label>
        <select id="premiseId" class="form-control custom-select custom-select-sm mb-2" name="premiseId" ngModel
          #premiseIdInput="ngModel" required>
          <option value="">Select Premise</option>
          <option *ngFor="let premise of premises" value="{{premise.id}}">{{premise.name}}, {{premise.address}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>