<p>{{carId}}</p>

<div class="col-md-6">
  <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="!valid">The provided informations are invalid!</ngb-alert>
  <form (submit)="onSubmit(rentForm)" #rentForm="ngForm">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="time">Range: {{selected}}</label>
        <input id="time" type="number" class="numbers form-control" name="number" ngModel #numberInput="ngModel" min="1"
          [max]="max" [readonly]="max === 1" [value]="max === 1 ? max : 0" placeholder="1" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="intervals">Intervals</label>
        <select id="intervals" class="form-control custom-select custom-select-sm mb-2" (change)="onChange($event.target)"
          name="interval" ngModel #selectInput="ngModel">
          <option [selected]="true" value="">Select Range</option>
          <option *ngFor="let time of times" value="{{time.intervals}}">{{time.intervals}}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="first">First name</label>
        <input type="text" class="form-control" id="first" placeholder="First name" name="firstName" ngModel
          #firstInput="ngModel" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="last">Last name</label>
        <input type="text" class="form-control" id="last" placeholder="Last name" name="lastName" ngModel
          #lastInput="ngModel" required>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Rent</button>
  </form>
</div>